<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eat Burgers with Jasmine</title>

    <!--Google Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!--Google Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

        <style type="text/css">
        .index_add {
            font-size: 2.5em;
            font-weight: 300;
            border-color: rgba(255,255,255,0);
            border-style: solid;
            border-width: 1px;
            box-sizing: border-box;
            height: initial;
        }
        .index_add.blink {
            -webkit-animation: blink 0.5s step-end infinite alternate;
            animation: blink 0.5s step-end infinite alternate;
        }
    </style>

</head>
<body>
{{{ body }}}
</body>
</HTML>